streamlit == 1.38.0
numpy == 1.26.4
plotly == 5.24.1
pandas == 2.2.1
matplotlib == 3.9.1
scikit-learn == 1.5.1
scipy == 1.12.0
statsmodels == 0.14.2
yfinance == 0.2.54
seaborn == 0.13.2
tzlocal == 5.2
cvxpy == 1.6.0
